.index_btn{
  display: flex;
    justify-content: center;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: $subTitle_button_picto;
    border: $title_logo 5px solid;
}
.a_btn{
  padding-top: 55px;
  text-decoration: none;
  font-family: $h1-font;
  font-size: 50px;
  color: $title_logo;
}
.center_btn{
  padding-top: 170px;
  margin: 0 auto;
  width: 200px;
}

.congrats-centered{
  min-height: calc(100vh - 80px - 80px);
  display: flex;
  align-items: center;
  .congrats_gif{
    height: 40%;
    width: 100vw;
  }
}
