@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .home-banner {
    width: 390px;
  }
}

.home-banner {
  background-image: asset-url("home_visuel.png");
  background-size: cover;
  background-position: center;
  height: 82vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.banner-h1{
  margin-top: 170px;
}
.banner-p{
padding: 25px;
}
.banner-btn{
  background: $subTitle_button_picto;
  color: $content;
  text-decoration: none;
  border-radius: 5px;
}
