// Specific CSS for your home-page
.home-banner {
  background-image: asset-url("img_home.png");
  background-color: rgb(14, 12, 12);
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}
.banner-h1{
  margin-top: 170px;
}
.banner-p{
padding: 25px;
}
.banner-btn{
  background: orange;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}
