
.home-banner {
  background-image: asset-url("home-back.png");
  background-size: cover;
  background-position: center;
  height: 147vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  background-position: fixed;
  margin-top: 0;
}
.banner-h1{
  position: absolute;
  top: 346px;
  right: 88px;

}
.banner-p{
padding: 25px;
}
.banner-btn{
  font-family: $h1-font;
  font-size: 20px;
  padding-top: 60px;
  position: absolute;
  color: $title_logo;
  text-decoration: none;
  top: 450px;
  right: 110px;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  box-shadow: 12px 12px 24px #092753;
  transition: all 0.6s ease-in-out 0s;
  background: $subTitle_button_picto;
}


.line-1{
  position: relative;
  top: 23%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  background-color: #2C3C84;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2s steps(20) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 8em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}


  .banner-btn::after {
    content: '';
    width: 200px; height: 200px;
    border-radius: 100%;
    border: 6px solid #f6f9f8;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }

  .banner-btn:hover::after, .banner-btn:focus::after {
    animation: none;
    display: none;
  }
  @keyframes ring {
    0% {
      width: 200px;
      height: 200px;
      opacity: 1;
    }
    100% {
      width: 350px;
      height: 350px;
      opacity: 0;
    }
  }
