<div class="main-menu-bottom">
  <div class="main-menu-bottom-links">

    <% if user_signed_in? %>
      <% if current_user.photo %>
          <%= image_tag(current_user.photo, class: "user-photo") %>
        <% else %>
          <%= File.open(Rails.root.join("app/assets/images/default_user.jpg")) %>
      <% end %>
    <% else %>
      <a href="#"><i class="fa-regular fa-user"></i></a>
    <% end %>

      <a href="#"><i class="fa-regular fa-star"></i></a>
      <a href="/projects"><i class="fa-regular fa-comment"></i></a>
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <% end %>
      <% end %>
      <a href="/users/edit"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
  </div>
</div>
