<div class="home-banner">
  <p class="line-1 anim-typewriter">La vie est un jeu</p>

  <% if @current_user_projects.empty? %>

      <%= link_to "C'est parti !", new_project_path, class: "btn banner-btn"%>
    <% else %>
      <%= link_to "C'est parti !", projects_path, class: "btn banner-btn"%>
    <% end %>
</div>
