<%# class banner dans pages/_home.scss %>
<div class="home-banner">
  <h1 class="banner-h1">Bienvenue sur BeMyBest!</h1>
  <p class="banner-p">Le voyage au coeur des souvenirs commence ICI! </p>
  <%= link_to "S'inscrire",  new_user_session_path, class: "btn btn-flat banner-btn" %>
</div>


<%= link_to "Créer votre jeu votre jeu !",  new_project_path, class: "btn btn-flat w-100 my-3"%>
