<div class="container">

  <div class="center_btn">
    <div class="index_btn">
    <%= link_to "Demarrer", project_game_path(@project, @card), class:"a_btn" %>
    </div>
  </div>
  <%= render "shared/navbar" %>
</div>
