<h1> Scenario </h1>

<div class="cards">
  <% @scenarios.each do |scenario| %>
  <div class="card-category" >
    <%= image_tag "#{scenario.img}" %>
   <p> <%= scenario.title %> </p>
  </div>
  <% end %>
</div>
