
<h1> Scenarios </h1>
<div class="cards">
  <form action="<%=project_path(@project)%>" method="post">
  <input type="hidden" name="_method" value="patch">
    <% @scenarios.each do |scenario| %>
        <label>
          <input type="radio" name= "project[scenario_id]" value= "<%= scenario.id%>">
            <%= image_tag scenario.img,  class:"img-card"%>
        </label>
        <br> <br>
      <% end  %>
    </div>
  <button type="submit" class="btn btn-flat"> Click </button>
</form>
