<h1> Bienvenue Antoine </h1>

<p> L’anniversaire de votre meilleur ami approche ?
Offrez-lui une expérience unique avec Bemybest </p>


<%= link_to "Créer votre jeu personnalisé !", new_project_path, class: "btn btn-flat w-100"%>
