
<div class="grey-banner">
  <h1 class="h1 mt-3 mb-2 bg-white"> Créer un nouveau Jeu</h1>
    <div class="container">
      <%= render "form", project: @project %>
      <%= render "shared/navbar" %>
    </div>
</div>
<%= render "shared/navbar_dark" %>

