<h1>  Show</h1>


<%= link_to "Ajoutez des photos", new_project_memory_path(@project), class: "btn btn-flat w-100"%>


<%= link_to "Voir toutes les photos", project_memories_path(@project), class: "btn btn-flat w-100 my-3"%>


<p> Tout est prêt ? vous pouvez personnalisé votre jeu ! </p>

<%= link_to "personalise votre jeu !", edit_project_path(@project), class: "btn btn-flat w-100 my-3"%>
