.finish-banner {
  background-image: asset-url("win.png");
  background-size: cover;
  background-position: center;
  height: 125vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}


.grey-banner {
  background-image: asset-url("back-grey.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
