.btn-flat {
  color: $content;
  padding: 8px 24px;
  font-family: $p-font;
  border-radius: 4px;
  background: $subTitle_button_picto;
  opacity: 0.8;
}

.btn-home {
  color: $content;
  padding: 10px 7px;
  font-family: $h1-font;
  font-size: 25px;
  border-radius: 4px;
  background: $subTitle_button_picto;
  width: 200px;
  text-decoration: none;
  margin-left: 47%;
  margin-top: 600px;
}

.btn-flat:hover {
  background: $subTitle_button_picto;
  color: $content;
  opacity: 1;
}
