.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $subTitle_button_picto;
  opacity: 0.8;
}

.btn-flat:hover {
  background: $subTitle_button_picto;
  color: white;
  opacity: 1;
}
