@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    align-items: center;
    grid-template-columns: 1fr;
    max-width: 350px;
    display:block;
  }

  .game-cards {
    align-items: center;
    grid-template-columns: 1fr;
    max-width: 350px;
    display:block;
    margin: 20px;
  }

  .card-category {
    margin-bottom: 22px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 7px;
    max-height: 300px;
  }

  .card-category-game{
    margin-bottom: 22px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 7px;
    padding: 10px;
  }

  .card-category > a {
    text-decoration: none;
    color: $content;
  }
  .img-card {
    max-width: 320px;
    object-fit: cover;
    max-height: 200px;
  }

  // CSS cartes de l'index project
  .card-project-relative {
    position: relative;
  }

  .card-project-trash {
    color: $title_logo;
    position: absolute;
    margin-left: 282px;
    margin-top: -24px;
    opacity: 0.6;
  }

  .card-description-p {
    margin-top: 10px;
    margin-left: 10px;
  }
}
