@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    align-items: center;
    grid-template-columns: 1fr;
    max-width: 350px;
    display:grid;
  }

  .card-category {
    position: relative;
    margin-bottom: 22px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 7px;
    max-height: 300px;
  }

  .card-garden p {
    position: absolute;
    font-size: 12px;
    opacity: 0.7;
  }
}
