@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    align-items: center;
    grid-template-columns: 1fr;
    max-width: 350px;
    display:block;
  }

  .game-cards {
    align-items: center;
    grid-template-columns: 1fr;
    max-width: 350px;
    display:block;
    margin: 20px;
  }

  .card-category {
    margin-bottom: 22px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 2px;
    max-height: 300px;
    border-radius: 15px;
  }

  .card-category-game{
    margin-bottom: 22px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 7px;
    padding: 10px;
  }

  .card-category-game > h3 {
    text-align : center;
  }

  .card-category-game > a {
    text-align : left;
  }

  .card-category > a {
    text-decoration: none;
    color: $content;
  }
  .img-card {
    padding: 10px;
    max-width: 320px;
    object-fit: cover;
    max-height: 200px;
    border-radius: 15px;
  }

// Show page project
  .image_button{
    position: relative;
  }
  .background-show {
    position:absolute;
    display: flex;
    justify-content: center;
    bottom: 10px;
    width: 100%;
    padding: 10px;
  }

  .background-show > .btn-flat {
    opacity: 1;
  }


  // CSS cartes de l'index project
  .card-project-relative {
    position: relative;
  }

  .card-project-trash {
    color: red;
    position: absolute;
    margin-left: 276px;
    margin-top: -42px;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
  }

  .card-game-edit {
    color: $title_logo;
    position: absolute;
    margin-left: 288px;
    margin-top: 10px;
    font-size: 24px;
  }

  .card-description-p {
    margin-top: 10px;
    margin-left: 10px;
  }

  // scenario

  .img-scenario-card {
    max-width: 320px;
    object-fit: cover;
    max-height: 231px;
    border-radius: 15px;
    background-color: rgb(0, 0, 0.3);
  }

  .scenario-card {
    display: flex;
    align-items: center;
    grid-template-columns: 1fr;
    max-width: 350px;
    margin: 20px;
    justify-content: space-around !important;
  }

  .scenario-card > p {
    position: absolute;
    color: white;
    font-size: 25px;
    font-weight: bold;
  }





}
