.footer {
  background: $light-gray;
  height: 100px;
  padding: 0px 50px;
  bottom: 40px;
  color: $content;
  text-align: center;
  font-family: $h2-font;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $title_logo;
  padding-top: 15px;
}
.footer-links a {
  color: $title_logo;
  opacity: 0.80;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: $subTitle_button_picto;
}

.footer-copyright {
  padding: 10px;
}
