.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 0.5mm ridge $content;
  height: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50%;
}


.navbar-brand {
  width: 80%;
}


.nav-link {
  background-color: white;
  text-align: right;
  padding-right: 5px;
}

.nav-item.dropdown {
  text-align: right;
}
