.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 80px;
  border-bottom: solid;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50%;
}

.navbar-brand {
  text-align: center;
  margin-left: 1rem;
}

.main-menu-bottom {
  position: fixed;
  bottom: 0;
  height: 61px;
  margin: 0;
  background: linear-gradient(180deg, $content 0%,#fff 100%);
  opacity: 1;
  width: 100%;
  z-index: 1000;
  -moz-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.main-menu-bottom-links {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $title_logo;
  padding-top: 10px;
}
.main-menu-bottom-links a {
  color: $subTitle_button_picto;
  opacity: 0.80;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 25px;
}
.main-menu-bottom-links a:hover {
  opacity: 1;
  color: $title_logo;
}
