
/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + .backgroundlin {
  outline: 10px solid #efca13;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 15px;
    max-height: 100%;
    max-width: 100%;
}
