.bienvenue {
  color: $title_logo;
  font-family: $h1-font;
  font-size: 22;
  font-weight: bold;
}

.h1 {
  color: $title_logo;
  font-family: $h1-font;
  font-size: 22px;
  font-weight: bold;
}

.h2 {
  color: $title_logo;
  font-family: $h2-font;
  font-size: 18px;
  text-align: justify;
  font-weight: bold;
}

.h3 {
  color: $title_logo;
  font-family: $h3-font;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
}

.h4 {
  color: $title_logo;
  font-family: $h3-font;
  font-size: 14px;
  font-weight: bolder;
}

.h5 {
  color: $title_logo;
  font-family: $h3-font;
  font-size: 12px;
  font-weight: bolder;
}

.h6 {
  color: $title_logo;
  font-family: $h3-font;
  font-size: 10px;
  font-weight: bolder;
}

.p {
  color: $content;
  font-family: $p-font;
  font-size: 16px;
}

.p2 {
  color: $content2;
  font-family: $p-font;
  font-size: 14px;
}


.title-jeux {
  margin-top: 50px;
  margin-left: 15px;
  margin-bottom: 30px;
}
