<div class="grey-banner">
  <div class="container my-2">
    <% if current_user == @project.user %>
      <h1 class="h1 bg-white margin-top-card">Ajouter un nouveau souvenir ! </h1>
    <% else %>
      <h1 class="h1">Ajouter un nouveau souvenir !</h1>
      <p class="p">Attention vous êtes limité à 3 souvenirs! choisissez bien !</p>
    <% end %>
    <%= render "form", memory: @memory %>
    <div>
      <%= link_to project_memories_path(@project) do %>
      <i class="fa-solid fa-arrow-left-long marge-top-retour"></i>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/navbar_dark" %>
