<div class="container my-2">

  <h1 class="$h1-font">Bonjour à tous et toutes!</h1>

  <p class="$body-font"> J'ai besoin de votre aide pour réunir des souvenirs </p>

  <%= render "form", memory: @memory %>
 </div>
