<h1>Bonjour à tous et toutes!</h1>

<p> J'ai besoin de votre aide pour réunir des souvenirs, des anecdotes afin de créer un mini-jeu personnalisé
    à l'occasion de "#{event}" de "#{name}"!</p>

<%= render "form", memory: @memory %>
